<%- include("../template/header"); -%>




<section>
  <input type="checkbox" id="nav-toggle" />
  <div class="sidebar">
    <div class="sidebar-brand">
      <h2><span class="lab la-accusoft"></span><span>Admin Panel</span></h2>
    </div>
    <div class="sidebar-menu">
      <ul>
        <li>
          <a href="" class="active"
            ><span class="las la-user"></span> <span>Dashboard</span></a
          >
        </li>
        <li>
          <a href="/"
            ><span class="las la-home"></span> <span>Home</span></a
          >
        </li>
        <li>
          <a href="/insert"
            ><span class="las la-user-plus"></span> <span>Add Employee</span></a
          >
        </li>
        <li>
          <a href="/task-show"
            ><span class="las la-clipboard-list"></span> <span>Add Task</span></a
          >
        </li>
        <li>
          <a href="/submit"
            ><span class="las la-tasks"></span>
            <span>Show Task</span></a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="main-content">
    <header>
      <h2>
        <label class="lb" for="nav-toggle">
          <span class="las la-bars my-class"></span>
        </label>
        Dashboard
      </h2>
      <div class="search-wrapper">
        <span class="las la-search"> </span>
        <input type="search" placeholder="Search heare" />
      </div>
      <div class="user-wrapper">
        <!-- <img src="/img/profile.png" alt="Profile" height="50px" width="50px" /> -->
        <span class="las la-user-circle profile-icon"></span>
        <div>
          <h4>Arif Uddin</h4>
          <small>Super Admin</small>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="cards">
        <div class="card-single">
          <div>
            <h1><%=employeesCount[0].total_employee %> </h1>
            <span>Employees</span>
          </div>
          <div>
            <span class="las la-users">
          </div>
        </div>

        <div class="card-single">
          <div>
            <h1>54</h1>
            <span>Crrent Order</span>
          </div>
          <div>
            <span class="las la-shipping-fast"></span>
          </div>
        </div>

        <div class="card-single">
          <div>
            <h1><%= allTaskCount[0].task_count %> </h1>
            <span>All Tasks</span>
          </div>
          <div>
            <span class="las la-clipboard-list"></span>
          </div>
        </div>
        <div class="card-single">
          <div>
              <!-- <h1><%# sumTk(employee_salary) %> </h1> -->

               <h1><%=sumSalary[0].total_employee_salary%> tk</h1> 
              
            
              

            <span>Employees Salary</span>
          </div>
          <div>
           <span class="las la-hand-holding-usd"></span>
          </div>
        </div>
      </div>

      <div class="recent-grid">
        <div class="projects">
          <div class="card">
            <div class="card-header">
              <h2>Employees List</h2>
              <button>see all <span class="las la-arrow-right"></span></button>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table width="100%">
                  <thead>
                    <tr>
                      <td>Name</td>
                      <td>Salary</td>
                      
                      <td>Assigned Task</td>
                      <td>Action</td>
                    </tr>
                  </thead>
                  <tbody>
                    <% allData.map(ele => {%>
                    <tr class="my-tr">
                      <td><%= ele.first_name + ' ' + ele.last_name %></td>
                      <td><%= ele.employee_salary %></td>
                      <td>
                        <%let task_count = taskCount.filter(itm => ele.id == itm.employees_id) %> 
                        <%= task_count.length %> 
                        <% console.log(task_count.length) %> 
                      </td>

                    
                      <td class="two-btn">
                        <a href="/update/<%= ele.id %>"
                           ><span class="las la-user-edit my-edit"></span></a
                        >
                        <a onclick="return confirm('Are you sure ?')" href="/delete/<%= ele.id %>"
                          >
                            <span class="las la-user-times my-delete"></span>
                         </a
                        >
                      </td>
                    </tr>

                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
         <div class="customers">
              <div class="card">
                <div class="card-header">
                  <h3>Employees profiles</h3>
                  <button>
                    see all <span class="las la-arrow-right"></span>
                  </button>
                </div>
                <div class="card-body">
                    <% allData.map(ele => {%>
                             
                         <div class="customer">
                    <div class="info">
                      <!-- <img src="" alt="" height="40px" width="40px" /> -->

                      
                       <span class="las la-user-circle profile-icon"></span>

                      <div>
                            
                         <h4><%= ele.first_name + ' ' + ele.last_name %></h4>
                        <small>JOB TITLE</small>
                      </div>
                    </div>
                    <div class="contact">
                      <span class="las la-user-circle"></span>
                      <span class="las la-comment"></span>
                      <span class="las la-phone"></span>
                    </div>
                  </div>
                              <% })%>
               
                </div>
              </div>
            </div>
      </div>
    </main>
  </div>
</section>

<%- include("../template/footer"); -%>
